<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Testingbaba_Regression">
  <test  name="loginTest" enabled="false">
  <classes>
  <class name="testingbaba_test.Testingbaba_loginTest"/>
  </classes>
  </test>  <!-- Test -->
  <test name="Textbox" enabled="false">
  <classes>
  <class name="testingbaba_test.Testingbaba_Textbox_test"/>
  </classes>
  </test> <!-- Test -->
  <test name="Checkbox" enabled="false">
  <classes >
  <class name="testingbaba_test.Testingbaba_Checkbox_test"/>
  </classes>
 </test> <!-- Test -->
 <test name=" Webtable" enabled="false">
 <classes>
 <class name="testingbaba_test.Testingbaba_Webtable_test"></class>
 </classes>
 </test> <!-- Test -->
 <test name="Button" enabled="false">
 <classes>
 <class  name="testingbaba_test.Testingbaba_button_test"></class>
 </classes>
 </test> <!-- Test -->
 <test name="Links" enabled="false">
 <classes>
 <class name="testingbaba_test.Testingbaba_Link_test"></class>
 </classes>
 </test> <!-- Test -->
 <test name="Selectmenu" enabled="false">
 <classes>
 <class name="testingbaba_test.Testingbaba_Selectmenu_test"></class>
 </classes>
  </test> <!-- Test -->
  <test name="fileupload" enabled="false">
 <classes>
 <class name="testingbaba_test.Testingbaba_Uploadfile_test"></class>
 </classes>
  </test> <!-- Test -->
   <test name="Alertframe" enabled="false">
 <classes>
 <class name="testingbaba_test.Testingbaba_Alertframe_test"></class>
 </classes>
  </test> <!-- Test -->
   <test name="Dynamicprop" enabled="false">
 <classes>
 <class name="testingbaba_test.Testingbaba_Dynamicprop_test"></class>
 </classes>
  </test> <!-- Test -->
     <test name="Datepicker" enabled="false">
 <classes>
 <class name="testingbaba_test.Testingbaba_Datepicker_test"></class>
 </classes>
  </test> <!-- Test -->
  
       <test name="progressbar" enabled="false">
 <classes>
 <class name="testingbaba_test.Testingbaba_progressbar_test"></class>
 </classes>
  </test> <!-- Test -->
  <test name="tooltip" enabled="false">
 <classes>
 <class name="testingbaba_test.Testingbaba_Tool_Tip_test"></class>
 </classes>
  </test> <!-- Test -->
  <test name="Sortable" enabled="false">
 <classes>
 <class name="testingbaba_test.Testingbaba_Sortable_test"></class>
 </classes>
  </test> <!-- Test -->
      <test name="Selectable" enabled="false">
 <classes>
 <class name="testingbaba_test.Testingbaba_Selectable_test"></class>
 </classes>
  </test> <!-- Test -->
        <test name="Resizeable" enabled="true">
 <classes>
 <class name="testingbaba_test.Testingbaba_Resize_test"></class>
 </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
